---
layout: default
---

<div class="container-fluid">
  <!-- ========== PUBLICATIONS SECTION ========== -->
  <div class="row sect">
    <div id="publications" class="col-xs-12 col-md-11 col-md-offset-1 col-lg-10">
      <div class="page-header">
        <h3>PUBLICATIONS <small>plus slides</small></h3>
      </div>

      <div id="papers" class="">

        {% for paper in site.data.publications%}
        <div class="paper">
          <h4 class="paper-heading">
            <!-- Paper Title -->
            <a href="http://dl.acm.org/citation.cfm?id={{ paper.doi }}">
              {{ paper.title }}
            </a>
            <!-- Toggle Abstract Button -->
            <a class="btn toggle-abstract" data-toggle="collapse"
               data-target="#abstract{{ forloop.index }}">
              abstract
            </a>
            <!-- Download Button -->
            <a class="btn download-btn" href="{{ paper.pdf_link }}">
              pdf <i class="fa fa-file-pdf-o fa-lg"></i>
            </a>
            {% if paper.pps_link %}
            <!-- Download Presentation Button -->
            <a class="btn download-btn" href="{{ paper.pps_link }}">
              slides <i class="fa fa-file-powerpoint-o fa-lg"></i>
            </a>
            {% endif %}
            <!-- Paper Authors -->
            <span class="paper-authors">
              {{ paper.authors | join: ', ' }}
              <!-- Conference -->
              <span class="conf">{{ paper.conference }}</span>
            </span>
          </h4>
          <p id="abstract{{ forloop.index }}" class="paper-abstract collapse">
            {{ paper.abstract }}
          </p><!-- /paper-abstract -->
        </div> <!-- /paper -->
        {% endfor %}

      </div> <!-- /papers -->

    </div>   <!-- /#publications -->
  </div> <!-- /.sect -->


  <!-- ================= EMACS SECTION ====================== -->
  <div class="row sect">
    <div id="emacs" class="col-xs-12 col-md-11 col-md-offset-1 col-lg-10">
      <div class="page-header">
        <h3>ALL THINGS EMACS</h3>
        <!-- <p class="my-bullets"> -->
        <!--   <i class="fa fa-circle"></i> -->
        <!--   <i class="fa fa-circle"></i> -->
        <!--   <i class="fa fa-circle"></i> -->
        <!-- </p> -->
      </div> <!-- /.page-header -->
      
      <div class="plain">
        <h4>Automatic Bytecode Disassembly</h4>
        <p>Program analysis often requires manual inspection of
          not just the source code but the actual IR that is
          passed to the static analysis tool. Most of the times
          this intermediate representation is a compressed
          format such as Java bytecode.
        </p>
        <p> Thus, to open an Emacs buffer containing Java
          bytecode for instance, one first needs to run a
          command that disassembles the file, and then he may
          open its disassembled contents.
        </p>
        <p>Things are even worse when such a file is part of an
          archive (e.g., inside a jar file). Then you have to
          extract it first too.
        </p>

        <p>This is a task that can be easily automated by emacs,
          assuming your system is properly configured and the
          actual disassembler commands are included in your PATH
          (e.g., javap).
        </p>

        <p>To that end, I wrote these two simple Emacs
          extensions that handle the task for (i)
          <a href="https://github.com/gbalats/autodisass-java-bytecode">
            Java Bytecode
          </a> and (ii)
          <a href="https://github.com/gbalats/autodisass-llvm-bitcode">
            LLVM Bitcode
          </a>.
        </p>

      </div> <!--  -->
    </div>   <!-- /emacs -->
  </div>     <!-- /.sect -->
</div>       <!-- /.container-fluid -->
