/* MENU CONF */

#theMenu {
    background: #1a1a1a;
}

#theMenu h1.logo a {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
}

#theMenu h1.logo a:hover {
    color: #f85c37;
}

#theMenu .sidebar-nav a:hover {
    color: #ffffff;
}

#theMenu .sidebar-nav a:active {
    color: #ffffff;
}

#theMenu .sidebar-nav li ~ li {
    padding-left: 10px;
}

#theMenu .sidebar-nav a {
    color: #808080;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#theMenu .icons a > i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 16px;
    line-height: 40px;
    margin: 25px 2px;
}


/* Button that toggles menu */

#menu-toggle {
    position: fixed;
    z-index: 1;
    /* color: #ffffff; */
    width: 40px;
    background: transparent;
    text-align: center;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

#menu-toggle:hover {
    color: #ffffff;
    background: rgba(0,0,0,0.2);
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

/* Absolute positioned wrapper for the element you want to fix position */
.fixed-menu-toggle-wrapper {
    position: absolute;
    top: 20px;
    right: -20px;
}

#page-content-wrapper > .container-fluid {
    margin-left: 50px;
}
