/* Publications */

.paper {
    margin-bottom: 20px;
}

.paper-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 2px;
}

p.paper-abstract {
    font-family: 'PT Sans', sans-serif;
    font-size: 90%;
}

.paper-authors {
    display: block;
    font-weight: 200;
}

.paper .conf {
    margin-left: 10px;
}


/* Redefine some colors */

.paper-abstract, .paper-heading, .paper a {
    color: #555;
}

.paper a.btn {
    color: #f85c37;
}

.paper a:hover, .paper a:focus {
    color: #7b7b7b;
}

.paper .download-btn, .paper .toggle-abstract {
    padding: 5px;
    /* float: right; */
    /* float: left; */
    /* margin-left: -80px; */
}


/* .paper a.toggle-abstract:after { */
/*     font-family:'Glyphicons Halflings'; */
/*     content: "\e114"; */
/*     float: right; */
/*     /\* color: grey; *\/ */
/* } */

/* .paper a.toggle-abstract.collapsed:after { */
/*     content: "\e080"; */
/* } */
