<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="theWrapper" class="wrapper">

      {% include sidebar.html %}

      <!-- Page Content (this is required due to the sidebar) -->
      <div id="page-content-wrapper">

        <div class="container-fluid">
          <div class="row">
            <div class="{{ page.width | join: ' ' }}">

              <!-- Post content -->
              <div class="post-content">

                <!-- Head title -->
                <div class="post-header">
                  <h2 class="post-title">{{ page.title }}</h2>
                </div>

                {{ content }}
              </div>

              <!-- Disqus footer -->
              {% include disqus.html %}
            </div>
          </div>
        </div>

      </div><!-- /#page-content-wrapper -->

    </div><!-- /#wrapper -->

    {% include bootstrap-js.html %}
    <script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
  </body>

</html>
