<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="theWrapper" class="wrapper">

      {% include sidebar.html %}

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row sect">
            <div class="{{ page.width | join: ' ' }}">

              <!-- Head title -->
              <div class="page-header">
                <h2>{{ page.title }}</h2>
              </div>

              {{ content }}
            </div>
          </div>
        </div>
      </div><!-- /#page-content-wrapper -->

    </div><!-- /#wrapper -->

    {% include bootstrap-js.html %}

  </body>

</html>
